.text-area-container {
  flex: 1;
  position: relative;
  background: white;
  overflow: hidden;
  display: flex;
}
.notepad-textarea {
  flex: 1;
  width: 100%;
  border: none;
  resize: none;
  padding: 5px;
  font-family: "Lucida Console", monospace;
  font-size: 13px;
  outline: none;
  white-space: pre;
}
